# Flowable Tomcat Systemd Startup script
# Authors: loftux, housni, cuspycode

[Unit]
Description=Flowable Tomcat service

[Service]
Type=forking
ExecStart=/opt/flowable/flowable-service.sh servicestart
ExecStop=/opt/flowable/flowable-service.sh servicestop
Restart=always
User=flowable
WorkingDirectory=/opt/flowable/logs
LimitNOFILE=8192:65536

[Install]
WantedBy=multi-user.target